<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L3Vpn4 Service Verify</title>

</head>

<body>

<h1>Provision L3Vpn4 Service</h1>
<p></p>




 <form method="POST">
     <p>ServiceName</p>
     <p><input type="text" autofocus="autofocus" name="search_string"></p>
     <p>User Name</p>
     <p><input type="text" autofocus="autofocus" name="user_name"></p>
     <p>Password</p>
      <p><input type="password" autofocus="autofocus" name="password"></p>
     <p>Enable Mode Password</p>
     <p><input type="password" autofocus="autofocus" name="enable_pass"></p>
    <input type="submit" formaction="/post_provision_l3vpn4_new" value="Provision">&emsp;&emsp;
  </form>



</body>
</html>