<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L3Vpn4 Service Verify</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
<a href="{{ links[0] }}">Home</a>&emsp;
<h1>L3Vpn4 Service Verify</h1>
<p></p>

  <form method="POST">
    <input type="text" autofocus="autofocus" name="search_string">
    <input type="submit" formaction="/search" value="Search">&emsp;&emsp;
    {% if CustomerName %}
     <a href="{{ links[1] }}">L3Vpn4 Creator </a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="{{ links[3] }}"> L3Vpn4 Deactivator </a>&emsp;
    <a href="{{ links[4] }}"> L3Vpn4 Update </a>&emsp;
    {% endif %}
  </form>

  {% if CustomerName %}
  <br><b>Customer Name:</b><label id ="CustomerName" name="CustomerName">{{CustomerName}}</label></br>
  <br><b>Address:</b><label id ="Address" name="Address">{{CustomerAddress}}</label></br>
  <br><b>Status:</b><label id ="Status" name="Status">{{Status}}</label></br>
  <br><b>PE:</b><label id ="PE" name="PE">{{ProviderEdge}}</label></br>
  <br><b>PE Interface:</b><label id ="PEInterface" name="PEInterface">{{PeInterface}}</label></br>
  <br><b>Vlan:</b><label id ="Vlan" name="Vlan">{{WanVlan}}</label></br>
  <br><b>As Number:</b><label id ="AsNumber" name="AsNumber">{{AsNumber}}</label></br>
  <br><b>BGP Password:</b><label id ="BgpPassword" name="BgpPassword">{{BgpPassword}}</label></br>
  <br><b>RD:</b><label id ="RD" name="RD">{{Rd}}</label></br>
  <br><b>RD:</b><label id ="RT" name="RT">{{Rt}}</label></br>
  <br><b>Related To:</b><label id ="Related" name="Related">{{ImportVpn}}</label></br>
  <br><b>Customer Routes:</b><label id ="Routes" name="Routes">{{Routes}}</label></br>
  <br><b>Customer Gateway:</b><label id ="Gateway" name="Gateway">{{CustomerNextHop}}</label></br>
  <br><b>Customer Wan IP:</b><label id ="WanIp" name="WanIp">{{CeWanIPAddress}}</label></br>
  <br><b>PE Management IP:</b><label id ="ManIp" name="ManIp">{{PeManagementWanIp}}</label></br>
  <br><b>Management Interface:</b><label id ="ManInt" name="ManInt">{{ManageInterface}}</label></br>
  <br><b>Management Vlan:</b><label id ="ManVlan" name="ManVlan">{{ManVlan}}</label></br>
  <br><b>Loopack IP:</b><label id ="Loopback" name="Loopback">{{CeLoopback}}</label></br>
  <br><b>Cir:</b><label id ="Cir" name="Cir">{{Cir}}</label></br>
  <br><b>Switch:</b><label id ="Switch" name="Switch">{{Switch}}</label></br>
  <br><b>Switch Interface:</b><label id ="SwitchInt" name="SwitchInt">{{SwitchInterface}}</label></br>

  {% endif %}


{% if match_not_found  %}
<h1>Service Not Found!</h1>
{% endif %}


</body>
</html>