<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L3Vpn4 Service Verify</title>

</head>

<body>
<a href="{{ links[0] }}">Home</a>&emsp;
<h1>L3Vpn4 Service Verify</h1>
<p></p>

  <form method="POST">
    <input type="text" autofocus="autofocus" name="search_string">
    <input type="submit" formaction="/search" value="Search">&emsp;&emsp;
    {% if CustomerName %}
     <a href="{{ links[1] }}">L3Vpn4 Creator </a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="{{ links[3] }}"> L3Vpn4 Deactivator </a>&emsp;
    {% endif %}
  </form>

  {% if CustomerName %}

<br><b>Customer Name:</b> {{CustomerName}}</br>
  <br><b>Address:</b> {{CustomerAddress}}</br>
  <br><b>Service Status:</b> {{Status}}</br>
  <br><b>PE:</b> {{ProviderEdge}}</br>
  <br><b>PE Interface:</b> {{PeInterface}}</br>
  <br><b>Wan Vlan:</b> {{WanVlan}}</br>
  <br><b>As Number:</b> {{AsNumber}}</br>
  <br><b>BGP Password:</b> {{BgpPassword}}</br>
  <br><b>RD:</b> {{Rd}}</br>
  <br><b>RT:</b> {{Rt}}</br>
  <br><b>Related To:</b> {{ImportVpn}}</br>
  <br><b>Customer Routes:</b> {{Routes}}</br>
  <br><b>Customer Next Hop IP:</b> {{CustomerNextHop}}</br>
  <br><b>Customer Wan IP:</b>  {{CeWanIPAddress}}</br>
  <br><b>Management Interface:</b>  {{ManageInterface}}</br>
  <br><b>PE Management IP:</b> {{PeManagementWanIp}}</br>
  <br><b>Management Vlan:</b> {{ManVlan}}</br>
  <br><b>Customer CE Managment Loopack IP:</b> {{CeLoopback}}</br>
  <br><b>Cir:</b> {{Cir}}</br>
  <br><b>CE Switch:</b>  {{Switch}}</br>
  <br><b>CE Switch Interface:</b> {{SwitchInterface}}</br>



  {% endif %}


{% if match_not_found  %}
<h1>Service Not Found!</h1>
{% endif %}


</body>
</html>